<!DOCTYPE html>
<html>
  <head>
    <title>Forecast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div class="body-wrapper">
      <%= yield %>
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzpDFH5ZuA2wKEHTy-392ZRz_Hk9XXGSc&libraries=places&callback=initMap" type="text/javascript" data-turbolinks-eval="false"></script>
  </body>
</html>
